<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">O que é o Frequência Google Meet™?</h4>
  </div>
  <div class="user-content">
        <p>A extensão Frequência Google Meet™ é um fork baseado no projeto Attendance for Google Meet™. Esse fork vem com algumas adaptações na aparência e melhorias que facilitam a sua utilização, com interface amigável e intuitiva, nossos colegas professores poderão facilmente ter acesso as listas de frequência em suas aulas.</p>

        <p>Esta extensão oferece suporte a uma variedade de recursos exclusivos:</p>

        <li>uma interface de usuário intuitiva que se integra perfeitamente com a IU do Google Meet</li>
        <li>permite ao usuário criar e armazenar várias listas de classes;</li>
        <li>apresenta uma lista dos alunos com símbolos intuitivos que mostram se eles estão presentes, ausentes, presentes anteriormente, mas saíram (por exemplo, devido a dificuldades técnicas), ou presentes, mas não em sua lista de presença;</li>
        <li>edição fácil de alunos em uma turma
        <li>exportação com um clique para o Planilhas Google;</li>
        <li>As planilhas são geradas automaticamente, todas as planilhas são separadas por turmas.</li>
        <p>Depois de clicar em exportar, a extensão atualiza a planilha correspondente à sua classe com os dados de frequência mais recentes, completos com o código do Meet, data, hora e uma linha para cada aluno. Cada entrada do aluno contém as seguintes informações:</p>

        <li>nome</li>
        <li>estivessem presentes ou não;</li>
        <li> hora em que eles se juntaram;</li>
        <li> hora que eles saíram;</li>
        <li> quantidade de vezes que eles aderiram;</li>
        <li> duração total durante a qual eles estiveram na chamada.</li>
        <p>Nossa extensão é segura e não invade os dados do usuário ou informações do aluno.</p>